<div class="row">
    <div class="col-lg-6">
        <h1>Add a book or article</h1>
        <h3>Enter your search terms here:</h3>

        <form ng-submit="controller.doSearch(search)">
            <div class="form-group">
                <label class="control-label" for="focusedInput">(Enter book title, author or keyword)</label>
                <input class="form-control" id="focusedInput" type="text" ng-model="search" />
            </div>
            <input type="submit" value="Find a book" class="btn btn-primary" />
        </form>
    </div>
    <div class="col-lg-6">
        <p>(Don't see the book you want?  Enter your information manually) </p>

        <form class="form-horizontal" ng-submit="controller.addResource(resource)">
            <fieldset>
                <legend>Book Info</legend>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Title</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" ng-model="resource.title" />

                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Author</label>
                    <div class="col-lg-10">
                        <input type="text" class="form-control" ng-model="resource.author" />
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-lg-2 control-label">Image Link</label>
                    <div class="col-lg-10">
                        <input type="text" ng-model="resource.imageUrl" class="form-control" />
                    </div>
                </div>
                <input type="submit" class="btn btn-primary" value="Add" />
            </fieldset>
        </form>
    </div>
</div>



<div class="displaybooks">
    <div class="row">
        <div id="onebook" class="col-md-4" ng-repeat="resource in controller.resources" ng-click="controller.addResource(resource)">
            <div>Author: {{resource.author}}</div>
            <div>Title: {{resource.title}}</div>
            <div><img ng-src="{{resource.imageUrl}}" /></div>
            <div><a target="_blank" href="{{resource.link}}">GoogleBooks Link</a></div>
        </div>
    </div>
</div>




<!--<div class="displaybooks">
    <div class="row">
        <div class="col-md-4" ng-repeat="resource in controller.resources.items" ng-click="controller.addResource(resource)">
            <div ng-model="resource.author">Author: {{resource.volumeInfo.authors[0]}}</div>
            <div ng-model="resource.title">Title: {{resource.volumeInfo.title}}</div>
            <div ng-model="resource.imageUrl"><img ng-src="{{resource.volumeInfo.imageLinks.thumbnail}}" /></div>
            <div ng-model="resource.link"><a target="_blank" href="{{resource.volumeInfo.infoLink}}">GoogleBooks Link</a></div>
        </div>
    </div>
</div>-->
